
body {
    font-family: Roboto;
}
.header,
.footer {
    background-color: #1f2927;
}

ul {
    list-style-type: none;
}

li {
    color: darkgray;
}
a {
    text-decoration: none;
}

.head {
    color: white;
    font-size: 24px;
}

.top-header {
    display: flex;
    justify-content: space-between;
}

.list {
    display: flex;
    flex-direction: row;
    gap: 16px;
    color: white;
    margin-right: 10px;
}