
body {
    font-family: Roboto;
}
.header,
.footer {
    background-color: #1f2927;
}

ul {
    list-style-type: none;
    color:darkgrey;
}
a {
    text-decoration: none;
}

.head {
    color: white;
    font-size: 24px;
}